{% load static %}
<section class="section mt-0 bg-light pt-4">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12 order-1 order-lg-1 mb-5 mb-lg-0">
          <a type="button" class="btn btn-light mb-4" href="{% url 'quiz_index' %}">Blogue de programação</a>
            <a type="button" class="btn btn-light mb-4" href="https://www.usandopy.com/">Notícias de tecnologia</a>
            <a type="button" class="btn btn-light mb-4" href="{% url 'quiz_index' %}">Testar o meu conhecimento</a>
            <a type="button" class="btn btn-light mb-4" href="{% url 'list' %}">Livros | E-books | Guias</a>
		  <div class="mb-3 mx-0 rounded">
			<script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
			<div class="gcse-search"></div>
          </div>

      </div>
      <aside class="col-lg-4 order-2 order-lg-1 ">
        <!-- Search -->
        <div class="widget my-3 px-3">

        <!--  block news -->
        {% block news %} {% include 'theme/news.html' %} {% endblock %}

        <div class="card my-1">
            <iframe data-aa='2017003' src='//acceptable.a-ads.com/2017003' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
        </div>
      </aside>

      <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
		<!--  block categoria -->
        {% block categoria %} {% include 'theme/categoria.html' %} {% endblock %}

      </div>
    </div>
  </div>
</section>
