{% load static %}
<!-- Jumbotron -->
<style>
  .form-control {
    padding: 5px;
  }
  @media only screen and (max-width: 1026px) {
    #fadeshow1 {
      display: none;
    }
  }
</style>

<div class="card card-image z-depth-0 " >
  <div
    class="text-white py-0 "
  >
    <div class="" style="background-color: white">
      <!-- Content -->
      <div class="row text-center">
          <div class="col-lg-5 py-0 my-0 ">
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
             padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
             border-radius: 8px; will-change: transform;">
              <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFFQeIu3Ys&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
              </iframe>
            </div>
        </div>

        <div class="col-lg-7 my-4 text-left justify-left">
          <!-- Juntar button -->

          <header>
          <a href="{% url 'home' %}" class="btn btn-sm btn-info font-weight-bold text-left justify-left mb-4" role="button">Go and see the Quiz to practice</a>


          <!-- Navbar -->

          <!-- Jumbotron -->
          <div class="p-5 text-left justify-left" style="background-color: #fafafa;">
            <h4 class="mb-3">Search content</h4>
            <!-- Search Widget -->
          <div class="widget search p-0 text-center mt-0 pt-0 mb-1 z-depth-0">
              <script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
                <div class="gcse-search"></div>
          </div>
          </div>
          <!-- Jumbotron -->
        </header>
        </div>
      </div>
      <hr>
    </div>


  </div>
</div>

<!-- Jumbotron -->
