{% extends 'theme/base.html' %} {% load static %}
<!--  block content -->
{%block title%} {%if date or category%} {%if date%} Blog - {{date|date:"F Y"}}
{% endif%} {% if category %} Blog - {{ category }} {% endif %} {% endif %}
{%endblock%}


{%block content %}


<section class="section-sm">
	<div class="container">
	    <div class="row row-cols-1 row-cols-md-2 mb-4">
            <div class="col-lg-8 order-1 order-lg-1 mb-5 mb-lg-0">
                <div class="row">
			<div class="col-lg-12">
				<div class="title text-center">
					<h2 class="mb-5">
					    {%if date or category%}
					        {%if date%}{{date|date:"F Y"}}{% endif%}
                            {% if category %} Blog - {{ category }} {% endif %}
                        {% endif %}
                    </h2>
                    <hr>
				</div>
			</div>
			{% for t in blog_posts %}
			<div class="col-lg-6 col-sm-6 mb-4">
				<article class="mb-5">
					<div class="post-slider slider-sm">
						<img loading="lazy" src="{{ t.featured_image.url }}" class="img-fluid" alt="post-thumb">
					</div>
					<h3 class="h5">
					    <a class="post-title" href="{% url 'blog_post_view' blog_slug=t.slug %}">{{t.title}}</a>
					</h3>
					<ul class="list-inline post-meta mb-2">
						<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John
								Doe</a>
						</li>
						<li class="list-inline-item">Data : {{t.updated_on}}</li>
						<li class="list-inline-item">Categoria :	<a href="{% url 'selected_category' category_slug=t.category.slug %}" class="ml-1">{{t.category}}</a>
						</li>
						</li>
					</ul>
					<p>{{ t.meta_description|safe|truncatewords_html:15 }}</p>	<a href="{% url 'blog_post_view' blog_slug=t.slug %}" class="btn btn-outline-primary">continue lendo</a>
				</article>
			</div>
			{% endfor %}
		</div>
            </div>

            <div class="col-lg-4 order-2 order-lg-2 border">
                <!-- Search -->
                <div class="widget py-0">
                    <h5 class="widget-title"><span>Pesquisar</span></h5>
            		  <div class="">
            			<script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
            			<div class="gcse-search"></div>
            			<!--  block categoria -->
                        {% block categoria %} {% include 'posts/categoria.html' %} {% endblock %}
            		  <div class=" mb-5">
            			  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
            				   crossorigin="anonymous"></script>
            			  <!-- lateral -->
            			  <ins class="adsbygoogle"
            				   style="display:block"
            				   data-ad-client="ca-pub-1810411345881098"
            				   data-ad-slot="6899621083"
            				   data-ad-format="auto"
            				   data-full-width-responsive="true"></ins>
            			  <script>
            				   (adsbygoogle = window.adsbygoogle || []).push({});
            			  </script>
            		  </div>
                    </div>

                    <!--  block news -->
                    {% block news %} {% include 'theme/news.html' %} {% endblock %}

                    <div class=" mb-5">
            			  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
            				   crossorigin="anonymous"></script>
            			  <!-- lateral -->
            			  <ins class="adsbygoogle"
            				   style="display:block"
            				   data-ad-client="ca-pub-1810411345881098"
            				   data-ad-slot="6899621083"
            				   data-ad-format="auto"
            				   data-full-width-responsive="true"></ins>
            			  <script>
            				   (adsbygoogle = window.adsbygoogle || []).push({});
            			  </script>
            		 </div>

                    <!--  block ads_2 -->
                    {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}




                </div>

            </div>

        </div>
	</div>
</section>


{% endblock content %}

<!-- /.content -->
