{% extends 'base.html' %} {% load i18n %} {% block title %} {{ quiz.title }} 
{% endblock %} {% block content %}
<section class="section mt-0">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4 order-2 order-lg-1 border-right">
        {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}
      </aside>

      <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
        <h4>{{ quiz.title }}</h4>
        <ul class="list-inline post-meta mb-2">
          <li class="list-inline-item">
            {% trans "Categoria" %} :
            <a
              href="#"
              class="ml-1"
              >{{ quiz.category }}
            </a>
          </li>
        </ul>
        <hr>

        {% if quiz.single_attempt %}
        <h4>{% trans "Você só terá uma tentativa neste quiz" %}.</h4>
        {% endif %}
        <p class="my-4">{{ quiz.description }}</p>
        <p class="my-5">
          <a class="btn btn-dark btn-rounded" href="{% url 'quiz_question' quiz_name=quiz.url %}">
            {% trans "Start quiz" %}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
