{% extends 'bases/base.html' %} {% load static %}
<!--  block content -->
{%block title %} {{ object.nome }} {%endblock%}
<!--  block content -->
{% block content %}
<style>
  @media only screen and (min-width: 1026px) {
    #fadeshow11 {
      display: none;
    }
  }

  @media only screen and (max-width: 1026px) {
    #fadeshow1 {
      display: none;
    }
  }
  @media only screen and (min-width: 1026px) {
    #fadeshow12 {
      overflow-y: scroll;
      height: 600px;
    }
  }

  em {
    color: #333333;
    font-weight: bolder;
  }


  p {
    color: #333333;
    font-family: "Segoe UI";
    font-size: 15.5px;
    letter-spacing: normal;
    word-spacing: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 0px 12px;
    text-align: justify;
    text-decoration: none solid rgb(0, 28, 59);
    text-indent:0px;
  }
  h1 {
    color:#001c3b;
    font-family: "proxima-nova", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 23.1px;
    margin: 0px 0px 8px;
    text-transform: none;
    text-decoration: none solid rgb(0, 28, 59);
    text-align: left;
  }
  h2 {
    color:#001c3b;
    font-family: "proxima-nova", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 23.1px;
    margin: 30px 0px 8px;
    text-transform: none;
    text-decoration: none solid rgb(0, 28, 59);
    text-align: left;
  }

  .anyClass {
  height:450px;
  overflow-y: scroll;
}
</style>

<div class="row row-cols-1 row-cols-md-3 my-4 mx-0 px-0">
  <div class="col-lg-3 col-md-3 col-sm-12 mx-0 px-0 my-3" style="background-color: #f0f0f0">

  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mx-0"  style="background-color: white;"
  >
    <div class="pt-5 mt-2 px-3">

      <h1 class="mb-4 mt-5 text-left">{{object.nome}}</h1>

      <div class="view overlay z-depth-0-half rounded px-0">
        <img
          src="{{ object.featured_image.url }}"
          alt="Responsive image"
          class="img-fluid"
        />
        <a href="{{object.web}}" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


    <p class="mb-0 pb-0">
        {{object.description | safe}}
    </p>

    <h1 class="my-0 py-0" ><a class="btn btn-primary" href="{{object.web}}" target="_blank">Clique aqui para baixar</a></h1>

    </div>
    <div class="container mt-2 pt-2">{% include 'posts/comments.html' %}</div>
  </div>

  <!-- Page Content  -->
</div>

{% endblock content %}

<!-- /.content -->
