{% for t in blog_posts %}
  <article class="row mb-5">
    <div class="col-md-4 mb-4 mb-md-0">
      <div class="post-slider slider-sm">
        <img
          loading="lazy"
          src="{{ t.featured_image.url }}"
          class="img-fluid"
          alt="post-thumb"
        />
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="h5">
        <a class="post-title" href="{% url 'blog_post_view_en' blog_slug=t.slug %}"
          >{{t.title}}</a
        >
      </h3>
      <ul class="list-inline post-meta mb-2">
        <li class="list-inline-item">Date : {{t.updated_on}}</li>
        <li class="list-inline-item">
          Categoria :
          <a
            href="{% url 'selected_category_en' category_slug=t.category.slug %}"
            class="ml-1"
            >{{t.category}}
          </a>
        </li>
      </ul>
      <p>
        {{ t.meta_description|safe|truncatewords_html:15 }}
      </p>
      <a
        href="{% url 'blog_post_view_en' blog_slug=t.slug %}"
        class="btn btn-outline-primary"
        >Keep reading</a
      >
    </div>
  </article>
{% endfor %}
