
{% extends 'theme/base.html' %} {% load static %}
{% load static %}


{%block title %} {{ object.title }} {%endblock%}

<body>
  <!--Nav Bar-->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'list' %}">Online Bookstore</a>
    <div class="btn-group dropright">
 


    </div>
    <div class="mx-auto" style="width: 10px;">
    </div>

    <!-- search css -->
    <form class="search" action="{% url 'search_results' %}" method="get">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <i class="fas fa-search"></i>
      <input name="q" class="fas fa-search" type="text" autocomplete="off" placeholder="click to search">
    </form>

  </nav><br>



  <div class='container'>


    {% block content %}


    {% endblock content %}


  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>