{% load countries %}
{% load quiz_extras %}

<h4 class="my-3">
  <i class="fa-solid fa-trophy" style="color: #f2cb5e"></i> Top 20
</h4>
<table
  class="table table-sm align-middle mb-0 bg-white"
>
  <thead class="bg-light ">
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for top in top_student %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          {% if top.photo %}
          <img
            src="{{top.photo.url}}"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          {% else %}
          <img
            src="{{ top.user.username|gravatar_url:50 }}"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          {% endif %}
          <div class="ms-3">
            <p class="fw-bold mb-1">{{top.user|stringformat:".10s"}}</p>
            {% for quizzes in top.interests.all|slice:":3" %}
            <p class="text-muted mb-0">{{quizzes}}</p>
            {% endfor %}
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{% get_country top.country as country %}{{ country.name }}</p>
      </td>
      <td>
        <p class="fw-normal mb-1 text-center">{{top.score}}</p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
