{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}

<section class="section mt-0">
    <div class="container">
      <div class="row">
        <aside class="col-lg-4 order-2 order-lg-1 border-right">
          <!--  block ads_2 -->
          {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}
        </aside>
  
        <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Você foi desconectado</h5>
                <p class="card-text">
                    Obrigado pelo seu tempo, entre em contato comigo para quaisquer comentários ou sugestões usando minha conta do instagram
                </p>
                <br><hr><a href="{% url 'login' %}" class="btn btn-primary">Faça login novamente</a>
                </div>
            </div>
  
        </div>
      </div>
    </div>
  </section>

   


{% endblock content %}