{% load static %}
<!--cookies-->
{% load django_simple_cookie_consent_tags %}
<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>{%block title %}UsandoPy {{ tutorialtitle }}{%endblock%}</title>

    <!-- mobile responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />


    <meta name="p:domain_verify" content="d6669b45149b97c8a9050e425547c8a4"/>

    <meta name="google-site-verification" content="zddSG9Su1C2rFiH4lBf8Hq7b27P57AS9epwNWWRNly8" />

    <meta name="verify-admitad" content="d73d18973a" />

    {% block description %}

    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ object.featured_image.url }}" />
    <meta
      property="og:image:secure_url"
      content="{{ object.featured_image.url }}"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta name="twitter:image" content="{{ object.featured_image.url }}" />
    <meta name="twitter:card" content="summary" />

    <meta property="og:title" content="{{ title }}" />
    <meta
      property="og:description"
      content="{{ description|truncatechars:160 }}"
    />

    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description|truncatechars:160 }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="author" content="{{ author }}" />
    <meta name="robots" content="index, follow" />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css"
      rel="stylesheet"
    />

    <!-- plugins -->
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
      style="font-display: optional"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap"
      media="screen"
    />

    <link
      rel="stylesheet"
      href="{% static 'plugins/themify-icons/themify-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}" />

    <!-- Main Stylesheet -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />



    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="{% static 'logo.png' %}"
      type="image/x-icon"
    />
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/agate.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VS65HDVLGL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VS65HDVLGL');
    </script>

    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
     crossorigin="anonymous"></script>
    {% endblock %}  {% display_cookie_consent %}

    <meta name="p:domain_verify" content="d6669b45149b97c8a9050e425547c8a4"/>



  </head>

  <body>
    <!-- Navbar -->

    {% block navbar %} {% include 'theme_en/navbar.html' %} {% endblock %}

    <!-- Navbar -->

    <div class="container my-3">
      <div class="row">
        <div class="col-lg-12 order-1 order-lg-1 mb-5 mb-lg-0">
          <a type="button" class="btn btn-light btn-sn mb-4" href="{% url 'home-page_en' %}">Home</a> 
          <a type="button" class="btn btn-light btn-sn mb-4" href="{% url 'index_en' %}">Programming Blog</a>
          <a type="button" class="btn btn-light btn-sn mb-4" href="{% url 'newspaper_en:noticias_en' %}">Tech News</a>
          <a type="button" class="btn btn-light btn-sn mb-4" href="{% url 'quiz_index_en' %}">Test my knowledge | Quiz</a>
          <a type="button" class="btn btn-light btn-sn mb-4" href="{% url 'list_en' %}">Books | E-books | Guias</a>
          <a type="button" class="btn btn-primary btn-sn mb-4" href="{% url 'home-page' %}">Trocar para Portugues</a>   
        </div>
  
    
      </div>
    </div>

    <!-- Home -->
    {% block home %}
    <!--  block content -->
    {% block content %} {% include 'theme_en/home.html' %} {% endblock content %}
    <!-- /.content -->
    {% endblock home %}
    <!-- /.Home -->

    <!--  block footer -->
    {% block footer %} {% include 'bases_en/footer.html' %} {% endblock footer %}
    <!-- /.footer -->

    <!-- JS Plugins -->

    <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>

    <!-- Main Script -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"
    ></script>

    <!-- 3rd party JavaScript -->
    <script
      id="dsq-count-scr"
      src="//pangolano.disqus.com/count.js"
      async
    ></script>
  </body>
</html>
