{% load static %}

<!-- navigation -->
<header class="sticky-top bg-white z-depth-1 py-0">
    <div class="container-fluid py-0">

       <nav class="navbar navbar-expand-lg navbar-white mx-0 px-0 z-depth-1 py-0 mb-5">
          <a class="navbar-brand" href="{% url 'home-page_en' %}">
             <img class="img-fluid" src="{% static 'logo2.jpg' %}" alt="LogBook">
          </a>
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
             <i class="ti-menu"></i>
          </button>

          <div class="collapse navbar-collapse text-center py-0 my-0" id="navigation">
             <ul class="navbar-nav ml-auto py-0 my-0">
               <li class="nav-item ">
                     <a class="nav-link " href="{% url 'home-page_en' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
               </li>
                <li class="nav-item dropdown">
                   <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-code"></i> Programming language<i class="ti-angle-down ml-1"></i>
                   </a>
                   <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://www.usandopy.com/en/category/python-beginners/">Python Beginners</a>
                      <a class="dropdown-item" href="https://www.usandopy.com/en/category/python-intermediate/">Python Intermediate</a>
                      <a class="dropdown-item" href="https://www.usandopy.com/en/category/python-advanced/">Python Advanced</a>
                      <a class="dropdown-item" href="https://www.usandopy.com/en/category/sql-tutorial/">SQL Tutorial</a>
                   </div>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'index_en' %}"><i class="fa-solid fa-blog"></i> Programming Blog</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'newspaper_en:noticias_en' %}"><i class="fas fa-newspaper"></i> Tech News</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link"  href="{% url 'home-page' %}"><i class="fa fa-language" aria-hidden="true"></i> Português</a>
               </li>

             </ul>

          </div>
       </nav>
    </div>
 </header>
 <!-- /navigation -->