{% for t in tutorial %}
  <article class="row mb-5">
    <div class="col-md-4 mb-4 mb-md-0">
      <div class="post-slider slider-sm">
          <a class="post-title" href="{% url 'tutorial-view_en' t.slug %}">

          <img loading="lazy"
          src="{{ t.featured_image.url }}"
          class="img-fluid"
          alt="post-thumb"

        />
          </a>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="h5">
        <a class="post-title" href="{% url 'tutorial-view_en' t.slug %}"
          >{{t.title}}</a
        >
      </h3>
      <ul class="list-inline post-meta mb-2">
        <li class="list-inline-item">Daten : {{t.updated_on}}</li>
        <li class="list-inline-item">
          Category :
          <a
            href="{% url 'categoria-view_en' t.category.slug  %}"
            class="ml-1"
            >{{t.category}}
          </a>
        </li>
      </ul>
      <p>
        {{ t.meta_description|safe|truncatewords_html:15 }}
      </p>

    </div>
  </article>
{% endfor %}

<div class=" mt-4 mb-5">
			  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
				   crossorigin="anonymous"></script>
			  <!-- lateral -->
			  <ins class="adsbygoogle"
				   style="display:block"
				   data-ad-client="ca-pub-1810411345881098"
				   data-ad-slot="6899621083"
				   data-ad-format="auto"
				   data-full-width-responsive="true"></ins>
			  <script>
				   (adsbygoogle = window.adsbygoogle || []).push({});
			  </script>
		  </div>