{% extends "base_en.html" %} {% load i18n %} {% load quiz_tags %} {% block title %}
{% trans "Progress page" %} {% endblock %} {% block description %}
{% trans "User progress page" %} {% endblock %} {% block content %}

<section class="section mt-0">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4 order-2 order-lg-1 border-right">
        {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}
      </aside>

      <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
        {% if cat_scores %}

        <h4 class="mb-3">{% trans "Question Categories Scores" %}</h4>

        <table
          class="table table-striped table-bordered table-sm"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>{% trans "Category" %}</th>
              <th>{% trans "You answered correctly" %}</th>
              <th>{% trans "Incorrect" %}</th>
              <th>%</th>
            </tr>
          </thead>

          <tbody>
            {% for cat, value in cat_scores.items %}
            <tr>
              <td>{{ cat }}</td>
              <td>{{ value.0 }}</td>
              <td>{{ value.1 }}</td>
              <td>{{ value.2 }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        {% endif %} {% if exams %}

        <hr />

        <h4>{% trans "Previous exams" %}</h4>
        <p class="">
          {%trans "Below are the results of the exams you took." %}
        </p>

        <table
          class="table table-striped table-bordered table-sm"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>{% trans "Quiz Title" %}</th>
              <th>{% trans "Score" %}</th>
              <th>{% trans "Possible score" %}</th>
              <th>%</th>
            </tr>
          </thead>

          <tbody>
            {% for exam in exams %}

            <tr>
              <td>{{ exam.quiz.title }}</td>
              <td>{{ exam.current_score }}</td>
              <td>{{ exam.get_max_score }}</td>
              <td>{{ exam.get_percent_correct }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}