{% extends "base.html" %} {% load i18n %} {% load quiz_tags %} {% block title %}
{% trans "Página de progresso" %} {% endblock %} {% block description %} 
{% trans "Página de progresso do usuário" %} {% endblock %} {% block content %}

<section class="section mt-0">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4 order-2 order-lg-1 border-right">
        {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}
      </aside>

      <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
        {% if cat_scores %}

        <h4 class="mb-3">{% trans "Pontuações das Categorias de Pergunta" %}</h4>

        <table
          class="table table-striped table-bordered table-sm"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>{% trans "Categoria" %}</th>
              <th>{% trans "Respondeu corretamente" %}</th>
              <th>{% trans "Incorreta" %}</th>
              <th>%</th>
            </tr>
          </thead>

          <tbody>
            {% for cat, value in cat_scores.items %}
            <tr>
              <td>{{ cat }}</td>
              <td>{{ value.0 }}</td>
              <td>{{ value.1 }}</td>
              <td>{{ value.2 }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        {% endif %} {% if exams %}

        <hr />

        <h4>{% trans "Provas anteriores" %}</h4>
        <p class="">
          {% trans "Abaixo estão os resultados dos exames que você fez." %}
        </p>

        <table
          class="table table-striped table-bordered table-sm"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>{% trans "Titúlo do Quiz" %}</th>
              <th>{% trans "Pontuação" %}</th>
              <th>{% trans "Pontuação possível" %}</th>
              <th>%</th>
            </tr>
          </thead>

          <tbody>
            {% for exam in exams %}

            <tr>
              <td>{{ exam.quiz.title }}</td>
              <td>{{ exam.current_score }}</td>
              <td>{{ exam.get_max_score }}</td>
              <td>{{ exam.get_percent_correct }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
