{% extends "base_en.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}


<section class="section mt-0">
	<div class="container">
	  <div class="row">
		<aside class="col-lg-4 order-2 order-lg-1 border-right">
		  <!--  block ads_2 -->
		  {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}
		</aside>

		<div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
			{% if user.is_authenticated %}
			<p>{% trans "You have already taken this exam and only one session is allowed" %}.</p>
		  {% else %}
			<p>{% trans "This exam can only be accessed by logged in users" %}.</p>
			<a type="button" href="{% url 'login_en' %}" class="nav-item nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a>
		  {% endif %}
			 <!--  block ads_2 -->
			 {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}

		</div>
	  </div>
	</div>
  </section>

{% endblock %}
