
<h5 class="my-3">Lista de Quiz | Quiz list</h5>
<hr>


<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'students:quiz_list' %}">Novo | New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'students:taken_quiz_list' %}">Concluído | Concluded</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'students' %} active{% endif %}" href="{% url 'students:student_list' %}">Participantes | Participants</a>
  </li>
</ul>
