{% extends 'quiz/base.html' %} {% load crispy_forms_tags %}

{% block content_left %}
    <div class=" px-0 my-4">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
             crossorigin="anonymous"></script>
        <!-- baixo -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1810411345881098"
             data-ad-slot="9366002321"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}

{% block content %}
<h4 class="mb-3">Alterar definições | Change settings</h4>
<form method="post" novalidate enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-6">{{ form.interests|as_crispy_field }}</div>
    <div class="form-group col-6">{{ form.country|as_crispy_field }}</div>
    <div class="form-group col-12">{{ form.photo|as_crispy_field }}</div>
  </div>

  <button type="submit" class="btn btn-success">Salvar | Save</button>
  <a href="{% url 'students:quiz_list' %}" class="btn btn-outline-secondary"
    >Não importa</a
  >
</form>
{% endblock %}
