{% extends "users_en/base.html" %}
{% block title %} UsingPy - Quiz {% endblock title%}
{% block content %}
    <section class="section mt-0">
        <div class="container">
          <div class="row">
            <aside class="col-lg-4 order-2 order-lg-1 border-right">
              <!-- Search -->
              <div class="py-0 widget">
                <h5 class="widget-title"><span>Search</span></h5>
                <div class="">
                  <script async src="https://cse.google.com/cse.js?cx=e542ecd9cf3c36e91"></script>
                        <div class="gcse-search"></div>
                <div class=" mt-4 mb-5">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
                         crossorigin="anonymous"></script>
                    <!-- side -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1810411345881098"
                         data-ad-slot="6899621083"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
              </div>
      
              <!-- block news -->
              {% block news %} {% include 'theme_en/news.html' %} {% endblock %}
    
              <!-- block ads_2 -->
              {% block ads_2 %} {% include 'theme/ads_2.html' %} {% endblock %}
            </aside>
      
            <div class="col-lg-8 order-1 order-lg-2 mb-5 mb-lg-0">
             
                <div class="jumbotron">
                    <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
                    <p class="lead">
                        I hope you enjoy many free tutorials and projects.
                        Would you like to test your knowledge?, so click the button below to get started.
                    </p>

                    <p class="lead">
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary btn-lg" href="{% url 'quiz_index_en' %}" role="button">Test my knowledge</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href="{% url 'login_en' %}" role="button">Test my knowledge</a>
                        {% endif %}
                    </p>
                    
                </div>
      
            
            </div>
          </div>
        </div>
      </section>

{% endblock content %}