{% extends 'quiz/base.html' %}

{% load crispy_forms_tags %}

{% block content_left %}
    <div class=" px-0 ">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1810411345881098"
             crossorigin="anonymous"></script>
        <!-- baixo -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1810411345881098"
             data-ad-slot="9366002321"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}

{% block content %}
{% include 'classroom/_guest_header.html' %}


  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign Up </h2>
      <form method="post"  enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}
